/* Override some defaults */
html, body {
    background-color: #ffffff;
}

body {
    padding-top: 10px;
}

input {
    min-height: 23px;
    padding: 0px;
    margin: 0px;
}

#main-container {
    /*background-color: #dddddd;*/
}

/*span.uneditable-input {*/
/*min-height: 18px;*/
/*cursor: auto;*/
/*}*/

/*form .clearfix {*/
/*margin-bottom: 8px;*/
/*}*/

/*#header {*/
/*padding-bottom: 10px;*/
/*}*/

#loadingDiv {
    text-align: center;
}

.pagination {
    margin: 10 0 5 0;
}

.table tbody tr td.changePlus {
    background-color: #F2FFF0;
}

.table tbody tr td.changeMinus {
    background-color: #FFF0F0;
}

